<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <title>matt and friends</title>

    <!--bulma CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.5.0"></script>
</head>

<style>

    html {
        font-size: 20px;
    }

    @media screen and (min-width: 769px) and (max-width:1023px) {
        html {
            font-size: 40px;
        }
    }


    body > main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: calc(100vh - 7rem);
    }

</style>

<body>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>

</html>