{% extends "base.html" %}

{% block content %}

<div class="mx-4">

<h1 class="is-size-1">{{ person["name"] }}</h1>
<div class="columns is-desktop content">
    <div class="column">
        <h2 class="is-size-2">2023</h2>
        <section class="block">
            <h3 class="is-size-4 has-text-weight-medium">How would you describe 2023?</h3>
            <p>{{ person["description-2023"] }}</p>
        </section>

        <section class="block">
            <h3 class="is-size-4 has-text-weight-medium">Favorite memories</h3>
            <ul>
            {% for memory in person["memory"] %}
                <li>{{ memory }}</li>
            {% endfor %}
            </ul>
        </section>

        <section class="block">
            <h3 class="is-size-4 has-text-weight-medium">What made you happy?</h3>
            <p>{{ person["happiness"] }}</p>
        </section>
    </div>

    <div class="column">
        <h2 class="is-size-2">2024</h2>
        <section class="block">
            <h3 class="is-size-4 has-text-weight-medium">✨Manifest something✨</h3>
            <p>{{ person["manifest"] }}</p>
        </section>

        <section class="block">
            <h3 class="is-size-4 has-text-weight-medium">I'm looking forward to</h3>
            <p>{{ person["looking-forward"] }}</p>
        </section>

        <section class="block">
            <h3 class="is-size-4 has-text-weight-medium">a 2024 goal</h3>
            <p>{{ person["2024-goal"] }}</p>
        </section>

        {% if person["comment"]|length > 0 %}
        <section class="block">
            <h3 class="is-size-4 has-text-weight-medium">Last thoughts</h3>
            <p>{{ person["comment"] }}</p>
        </section>
        {% endif %}
    </div>

</div>

</div>


{% endblock %}