{% extends "base.html" %}

{% block content %}

<h1>{{ person["name"] }}</h1>

<div class="row">
    <div class="column">
        <h2>2023</h2>
        <section>
            <h3>How would you describe 2023?</h3>
            <p>{{ person["description-2023"] }}</p>
        </section>

        <section>
            <h3>Favorite memories</h3>
            <ul>
            {% for memory in person["memory"] %}
                <li>{{ memory }}</li>
            {% endfor %}
            </ul>
        </section>

        <section>
            <h3>What made you happy?</h3>
            <p>{{ person["happiness"] }}</p>
        </section>
    </div>

    <div class="column">
        <h2>2024</h2>
        <section>
            <h3>✨Manifest something✨</h3>
            <p>{{ person["manifest"] }}</p>
        </section>

        <section>
            <h3>I'm looking forward to</h3>
            <p>{{ person["looking-forward"] }}</p>
        </section>

        <section>
            <h3>a 2024 goal</h3>
            <p>{{ person["2024-goal"] }}</p>
        </section>

        {% if person["comment"]|length > 0 %}
        <section>
            <h3>Last thoughts</h3>
            <p>{{ person["comment"] }}</p>
        </section>
        {% endif %}
    </div>

</div>



{% endblock %}