{% block content %}
<!-- htmx here -->
<form hx-post="/next-question" hx-swap="outerHTML">
{% if num == 0 %}
    <label class="label is-large" for="name">What's your name?</label>
    <input class="input is-large" type="text" name="name" id="{{ num }}" placeholder="Your stuff here" autofocus/>
{% elif num == 2 %}
    <label class="label" for="description-2023">How would you describe 2023?</label>
    <input class="input is-large" type="text" name="description-2023" id="{{ num }}" placeholder="your stuff here" autofocus/>
{% elif num == 1 %}
    <label class="label" for="year">What were your 3 favorite memories of the year?</label>
    <input class="input is-large block" type="text" name="memory" id="memory-1" placeholder="Your stuff here" autofocus/>
    <input class="input is-large block" type="text" name="memory" id="memory-2" placeholder="Your stuff here"/>
    <input class="input is-large block" type="text" name="memory" id="memory-3" placeholder="Your stuff here"/>
    <input type="submit" class="button is-normal" value="Next"/>
{% elif num == 2 %}
    <label class="label" for="happiness">What made you happy this year?</label>
    <input class="input is-large" type="text" name="happiness" id="{{ num }}" placeholder="Your stuff here" autofocus/>
{% elif num == 3 %}
    <label class="label" for="influenced-by">Who influenced you the most this year?</label>
    <input class="input is-large" type="text" name="influenced-by" id="{{ num }}" placeholder="Your stuff here" autofocus/>
{% elif num == 4 %}
    <label class="label" for="manifest">✨Manifest something for 2024✨</label>
    <input class="input is-large" type="text" name="manifest" id="{{ num }}" placeholder="Your stuff here" autofocus/>
{% elif num == 5 %}
    <label class="label"  for="looking-forward">What are you looking forward to in 2024?</label>
    <input class="input is-large" type="text" name="looking-forward" id="{{ num }}" placeholder="Your stuff here" autofocus/>
{% elif num == 6 %}
    <label class="label" for="2024-goal">What's a goal of yours for 2024?</label>
    <input class="input is-large" type="text" name="2024-goal" id="{{ num }}" placeholder="Your stuff here" autofocus/>
{% elif num == 7 %}
    <label class="label" for="comment">(Optional) Is there anything else you want to say?</label>
    <textarea class="input is-large" type="text" name="comment" id="{{ num }}" placeholder="Your stuff here" autofocus></textarea>
    <input type="submit" class="button">
{% endif %}
{% if username %}
    <input type="hidden" id="username" name="username" value="{{username}}"/>
{% endif %}
    <input type="hidden" id="question-num" name="question-num" value="{{num}}"/>
</form>

{% endblock %}